<div class="container">
  <h1>Power BI Embed Modes</h1>

  <div class="tabs">
    <button 
      [class.active]="activeTab() === 'sdk'" 
      (click)="activeTab.set('sdk')">
      1. SDK Mode (Full Interactivity + Requires Token)
    </button>

    <button 
      [class.active]="activeTab() === 'iframe'" 
      (click)="activeTab.set('iframe')">
      2. IFrame Mode (Basic Embed + No Token Required)
    </button>
  </div>

  <hr />

  <!-- SDK Mode -->
  @if (activeTab() === 'sdk') {
    <div class="section-box">
      <h3> SDK Component (Advanced)</h3>
      <p>Requires an Access Token. Allows event handling and programmatic report control.</p>

      <div class="controls-bar">
        <input
          type="text"
          [(ngModel)]="tokenInput"
          placeholder="Paste Power BI Access Token here..."
          class="token-input"
        />
        <button (click)="applyToken()" class="btn-primary">Apply Token</button>
      </div>

      <app-powerbi-report
        [reportId]="reportId()"
        [groupId]="groupId()"
        [accessToken]="token()"
        tokenType="Aad"
        (reportEvent)="onReportEvent($event)"
        (reportError)="onReportError($event)">
      </app-powerbi-report>
    </div>
  }

  <!-- IFrame Mode -->
@if (activeTab() === 'iframe') {
  <div class="section-box">
    <h3>IFrame Component (Basic)</h3>
    <p>Relies on user browser session authentication automatically without requiring Access Tokens.</p>

    <div class="controls-bar">
      <input
        type="text"
        [(ngModel)]="reportIdInput"
        placeholder="Paste Power BI Report ID here..."
        class="token-input"
      />
      <button (click)="applyreportId()" class="btn-primary">Load URL</button>
    </div>

   
    <app-powerbi-report-iframe
      [groupId]="groupId()"
      [reportId]="reportId()">
    </app-powerbi-report-iframe>
  </div>
}
</div>